<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
        {% include "partials/header.html" %}
        <h1>Menu - {{restaurant_name}}</h1>
        <ul>
            {%for items in menu_items %}
                <li>
                    {{item.name}} - ${{item.price}}
                    <em>{{item.description}}</em>
                </li>
            {%empty%}
                <li>No items available</li>
            {% endfor %}
        </ul>
        <!-- footer-->
        {% include "partials/footer.html" %}
    </body>
</html>
