<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
        {% include "partials/header.html" %}
        <!-- dedicated menu page-->
        <h1>Menu - {{restaurant_name}}</h1>
        <ul>
            {%for items in menu_items %}
            <div class="menu-item">
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" width="200">
                {% else %}
                    <img src="{% static 'images/placeholder.png'%}" alt="no image" width="200">
                {% endif %}
                <li>
                    {{item.name}} - ${{item.price}}
                    <em>{{item.description}}</em>
                </li>
            {%empty%}
                <li>No items available</li>
            {% endfor %}
        </ul>
        <!-- footer-->
        {% include "partials/footer.html" %}
    </body>
</html>

