<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Privacy</title>
    </head>
    <body>
        <h1>Privacy Policy</h1>
        <p>At our restaurant, we value your privacy</p>
        <h3>Information We Collect</h3>
        <p>We may collect personal information such as your name,email and phone number, when you use our services.</p>
        <h3>How We Use Your Information</h3>
        <p>Your information is used to improve our services, process reservations, and communicate with you.</p>
        <h3>Third Party Sharing</h3>
        <p>We do not sell or share your information with third parties, except as required by law.</p>
        <h3>Contact Us</h3>
        <p>If you have any queries please Contact us</p>
        <p><a href="{%url 'homepage'%}">Back to Home</a></p>
    </body>
</html>